@import url('https://fonts.googleapis.com/css?family=Roboto');

.heads{
	color:#000;   
}


.heads-topics{
	color:#000;   
}
.white-box{
  color:#fff;   
}

.categorical{
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    min-height :100%;
}

.body{
 font-family: 'Roboto', sans-serif;   
}

.debate-background{
    background-image:url("background-img.jpg");   
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    min-height :100%;
}
.col.awalmenu{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:15px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;	
	font-size:25px;

}

.btn-large{

}

.title{
	margin-top: 200px;
}

.title-cst{
	color: #b71c1c;
}

.catSelector{
	margin-top: 50px;
}

.flexible{
	display: flex;
  	justify-content: center;
  	flex-direction: column;

}

.row .col.s6-mod {
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;
    left: auto;
    right: auto;
}


